This notebook demonstrates the most common use cases for the Python programming language. From basic concepts such as using variables and user functions to more complex and advanced topics such as object oriented programming, ternary operators and so on.

How to print information on the screen:

In [1]:
print("Hello World!")

Hello World!

BASIC DATA TYPES:
- how to define a variable.

In [11]:
x = 5

In [12]:
print(x)

5

In [13]:
name = "John"

In [14]:
print(name)

John

In [15]:
type(name) # type will be string

str

In [16]:
type(x) # type will be integer

int

WORKING WITH NUMBERS IN PYTHON:

In [17]:
# FLOATING TYPE NUMBERS
y = 1.5
print(type(y))

<class 'float'>

In [18]:
# WHOLE NUMBERS OR INTEGERS
z = 10
print(type(z))

<class 'int'>

In [19]:
# COMPLEX TYPE NUMBERS
a = 5j
print(type(a))

<class 'complex'>

In [20]:
# calculation with complex numbers
b = 2j 
c = 3j
print(b * c)

(-6+0j)

In [21]:
print(b ** c)

(-0.004374812582252154+0.007846052028917017j)

USING STRINGS IN PYTHON:

In [22]:
# CONCATENATING STRINGS (combining strings)
"UNITED" + "STATES" + "OF" + "AMERICA"

'UNITEDSTATESOFAMERICA'

In [23]:
# ADD SPACES
"UNITED" + " STATES" + " OF" + " AMERICA"

'UNITED STATES OF AMERICA'

In [25]:
print("UNITED STATES OF AMERICA")

UNITED STATES OF AMERICA

In [26]:
print('1' + '1') # these integers are being used as strings

11

In [27]:
print(1 + "1") # this will produce an error because integers and strings cannot be combined or calculated.

TypeError: unsupported operand type(s) for +: 'int' and 'str'

BOOLEANS: TRUE OR FALSE

In [28]:
0 == True

False

In [29]:
1 == True

True

In [30]:
0 == False

True

In [32]:
1 == False

False

In [33]:
# is the integer 1 equal to the string 1?
print(1 == "1")

False

In [34]:
print(1 == 1)

True

INTRODUCTION TO DATA STRUCTURES

1. LISTS

In [1]:
l = [1, 2, 3, 4, 5] # square brackets are used to create a list

In [2]:
print(l)

[1, 2, 3, 4, 5]

In [3]:
# different things can be stored in a list such as integers, strings, or even lists within lists
l2 = [10, "Rob", False, [0, 1, 2, 3]]
print(l2)

[10, 'Rob', False, [0, 1, 2, 3]]

In [4]:
# to check the size of the list
print(f"the length of the list is {len(l2)}")

the length of the list is 4

In [5]:
# access items in the list
l2[0]

10

In [6]:
print(l2)
print(f"the last item at index 3 is {l2[3][3]}")

[10, 'Rob', False, [0, 1, 2, 3]]
the last item at index 3 is 3

WORKING WITH SETS: 
sets are created using curly braces.

In [7]:
s = {10, 20, 30, 40, 50}
print(s)

{50, 20, 40, 10, 30}

In [8]:
# check the type
print(type(s))

<class 'set'>

In [9]:
# check the length
print(len(s))

5

In [10]:
# with sets, there can be no repetition
s1 = {10, 10, 20, 40, 50, 50}
print(s1)
print(len(s1))

{40, 10, 20, 50}
4

In [11]:
# let's check if the information in a list or in a set is True or False
l1 = [1, 2]
l2 = [2, 1]
l1 == l2

False

In [12]:
s1 = {1, 2, 3}
s2= {3, 2, 1, 1, 1}
s1 == s2

True

WORKING WITH TUPLES:
tuples are immutable in comparison with other data structures

In [13]:
t = (1, 2, 3)
print(t)
# check the length
print(len(t))
# check the type
print(type(t))

(1, 2, 3)
3
<class 'tuple'>

In [ ]:
k